.duckrace__game {
  align-items: center;
}

.game__window {
  position: relative;
  height: 400px;
  width: 400px;
  background-color: #31ffb2;
  border: 2px solid #ccc;
  margin: 0 auto;
  overflow: hidden;
}

.duck__racer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 25px;
  height: 25px;
  z-index: 3;
  /* background-color: #ccc; */
}

.outer__circle {
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  left: -25px;
  top: -25px;
  width: 450px;
  height: 450px;
  background-color: #13afea;
}

.center__circle {
  position: absolute;
  border-radius: 50%;
  z-index: 4;
  left: 90px;
  top: 90px;
  width: 220px;
  height: 220px;
  background-color: #31ffb2;
}

.finish__line {
  position: absolute;
  z-index: 2;
  background-image: url("../img/checkered.png");
}

.game__info__container {
  margin: 0 auto;
}

.game__button {
  background-image: linear-gradient(to top, #31ffb2 30%, #13afea 100%);
  background-size: 100%;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.game__button:hover {
  background-image: linear-gradient(to top, #13afea 30%, #31ffb2 100%);
}
