body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 1.2em;
}

#duck {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  font-size: 8em;
}

#racingDuck{
  margin-left: 0%;
  width: fit-content;
}
